pillow~=11.0.0
bs4~=0.0.2
beautifulsoup4~=4.12.3
soupsieve~=2.6
pip~=23.2.1
wheel~=0.41.2
cryptography~=43.0.3
cffi~=1.17.1
setuptools~=68.2.0
certifi~=2024.8.30
urllib3~=2.2.3
charset-normalizer~=3.4.0
idna~=3.10
pycparser~=2.22
pypdfium2~=4.30.0
pdfplumber~=0.11.4
requests~=2.32.3